{% extends 'main.html' %}

{% block content %}

<h1>Project Template</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam nostrum reiciendis facilis eum quas molestias numquam adipisci illum nihil voluptatem officiis porro quaerat error, iure, saepe similique ipsa voluptas laudantium placeat aliquid ratione, vitae expedita. Quae ad debitis molestiae. Consequuntur recusandae ipsam perferendis architecto eos odit aspernatur! Omnis sint repellendus porro reprehenderit numquam quas incidunt voluptatibus laborum voluptatum dolores nesciunt accusamus in ipsa facere voluptate, nam, repudiandae magni aliquid mollitia.</p>

{% endblock content %}